@model IEnumerable<mobileHairdresser.Database.tblGallery>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Portfolio";
}

<div class="ContentContianer">
    <h1>Portfolio</h1>
    <div class="ContentWrapper">
        <div id="PortfolioContainer">
            @if (Session["user"] != null)
            {
                <div class="formButtons">
                    <button class="btn btn-default" type="button" onclick="location.href='@Url.Action("CreateGallery","Portfolio")'">New Gallery</button>
                </div>
            }
             <div class="container">
                        <div class="row">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="hoverEffect">
                                                    <img class="img-responsive" src="~/Content/Images/Portfolio/@item.GalleryImg" alt="@Html.DisplayFor(modelItem => item.GalleryDiscription)"/>
                                                    <div class="overlay" onclick="location.href='@Url.Action("PhotoGallery","Portfolio", new { GalleryID = item.GalleryID })'">
                                                        <h2>@Html.DisplayFor(modelItem => item.GalleryName)</h2>
                                                        <p class="info">@Html.DisplayFor(modelItem => item.GalleryDiscription)</p>
                                                    </div>
                                            </div>
                                            @if (Session["user"] != null)
                                            {
                                                <button class="btn btn-default" onclick="location.href='@Url.Action("DeleteGallery","Portfolio", new { GalleryID = item.GalleryID })'">Delete Gallery</button>
                                            }
                                        </div> 
                                    }
                        </div> 
            </div>
        </div>
     </div>
 </div>

