@model mobileHairdresser.Database.tblHaircut

@{
    ViewBag.Title = "AddNewHaircut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Add New Haircut</h2>
        @using (Html.BeginForm("SaveHaircuts", "Prices", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <ul class="AddHaircuts">
                <li>
                    @Html.ValidationSummary()
                </li>
                <li>
                    @Html.LabelFor(model => model.HaircutName, htmlAttributes: new { @class=""})
                    @Html.EditorFor(model => model.HaircutName, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>
                    @Html.LabelFor(model => model.ShortPrice, htmlAttributes: new { @class=""})
                    @Html.EditorFor(model => model.ShortPrice, new { htmlAttributes = new {@class="form-control"}})
                </li>
                <li>
                    @Html.LabelFor(model => model.LongPrice, htmlAttributes: new { @class=""})
                    @Html.EditorFor(model => model.LongPrice, new {  htmlAttributes = new {@class="form-control"}})
                </li>
                <li>
                    @Html.LabelFor(model => model.TypeID, htmlAttributes: new { @class="" })
                    @Html.DropDownListFor(model => model.TypeID, ViewBag.TypeID as SelectList , new { })
                </li>
                <li>
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("Prices","Home")'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>
