@model mobileHairdresser.Database.tblHaircutType

@{
    ViewBag.Title = "CreateNewHaircutType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ContentContianer">
    <h1>Add New Haircut Catagory</h1>
    <div class="ContentWrapper">
        @using (Html.BeginForm("SaveHaircutsCatagory", "Prices", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <ul>
                <li>
                    @Html.ValidationSummary()
                </li>
                <li>
                    @Html.LabelFor(model => model.TypeName, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.TypeName, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("Prices","Home")'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>
