@model mobileHairdresser.Database.tblHaircutType

@{
    ViewBag.Title = "EditHaircutType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Edit : @Html.DisplayFor(model => model.TypeName)</h2>
        @using (Html.BeginForm("SaveHaircutsCatagory", "Prices", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.TypeID)
            <ul>
                <li>
                    @Html.ValidationSummary()
                </li>
                <li>
                    @Html.LabelFor(model => model.TypeName, htmlAttributes: new {  @class =""})
                    @Html.EditorFor(model => model.TypeName, new {  htmlAttributes = new { @class="" }})
                </li>
                <li>
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("HaircutTypeDetails","Prices", new { haircutTypeID = Model.TypeID })'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>