@model mobileHairdresser.Database.tblHaircut

@{ 
    ViewBag.Title = "Edit Haircut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        @using (Html.BeginForm("SaveHaircuts", "Prices", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.HaircutID)
            
            <ul class="EditHaircuts">
                <li class="valid">
                   @Html.ValidationSummary()
                </li>
                <li>
                    @Html.LabelFor(model => model.HaircutName, htmlAttributes: new {  @class = ""})
                    @Html.EditorFor(model => model.HaircutName, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>
                    @Html.LabelFor(model => model.ShortPrice, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.ShortPrice, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>
                    @Html.LabelFor(model => model.LongPrice, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.LongPrice, new { htmlAttributes = new { @class = "form-control" } })
                </li>
                <li>            
                    @Html.LabelFor(model => model.TypeID, htmlAttributes: new { @class = "" })
                    @Html.DropDownListFor(model => model.TypeID,ViewBag.TypeIDList as SelectList, new {  })
                </li>
                <li>
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("HaircutTypeDetails","Prices", new { haircutTypeID = Model.TypeID })'">Cancel</button>
                        <button type="submit">Save Changes</button>
                </li>
            </ul>
        }
    </div>
</div>