@model IEnumerable<mobileHairdresser.Database.tblHaircut>
@{
    ViewBag.Title = "HaircutTypeDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string PriceTypeName = "";

    if (ViewBag.PriceTypeName != null)
    {
        PriceTypeName = @ViewBag.PriceTypeName;
    }
    else
    {
        Response.Redirect("~/Home/Prices");
    }

    var getTypeID = Model.Where(hair => hair.tblHaircutType.TypeName == PriceTypeName).FirstOrDefault();

    string errorMsg = Html.Raw(TempData["errorMessage"]).ToString();
}

@if (Session["user"] != null)
{
    <div class="ContentContianer">
        <div class="ContentWrapper">
            <p style="color:red;">@errorMsg</p>
            <div id="tableList">
                <span class="changeTypeName"><h1>@PriceTypeName</h1></span>
                <span class="HaircutTypeEdit">@Html.ActionLink("Click here to change catagory name", "EditHaircutType", new { TypeID = ViewBag.PriceTypeID })</span>
                    <ul id="tableEdit">
                        <li><h2>@Html.DisplayNameFor(x => x.HaircutName)</h2></li>
                        @foreach (var item in Model)
                        {
                            <li>
                                <label>@Html.DisplayFor(modelItem => item.HaircutName)</label>
                                <span>@Html.ActionLink("Edit", "EditHaircuts", new { id = item.HaircutID })
                                @Html.ActionLink("Delete", "DeleteHaircut", new { id = item.HaircutID }) </span>
                            </li>   
                        }
                        <li>
                            <div class="formButtons">
                                <button type="button" onclick="location.href='@Url.Action("AddNewHaircut","Prices")'">Add New Haircut</button>
                                <button type="button" onclick="location.href='@Url.Action("Index","Prices")'">Back</button>
                            </div>
                        </li>
                    </ul>
            </div>
            
            </div>

    </div>
       
}
else
{
    Response.Redirect("~/HomePrices");
}



