@using mobileHairdresser.Database;

@model IEnumerable<tblHaircutType>

@{
    ViewBag.Title = "Haircut Type Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Session["user"] != null)
{
    <div class="ContentContianer">
        <div class="ContentWrapper">
                <ul id="tableEdit">
                    <li>
                        <h2>@Html.DisplayNameFor(model => model.TypeName)</h2>
                    </li>
                        @foreach (tblHaircutType haircutType in @Model)
                        {
                            <li>
                                <label>@Html.DisplayFor(model => haircutType.TypeName)</label>
                                <span>@Html.ActionLink("Details", "HaircutTypeDetails", new {  haircutTypeID = haircutType.TypeID } , null)
                                @Html.ActionLink("Delete", "DeleteHaircutsCatagory", new { id = haircutType.TypeID } , null)</span>
                            </li>
                        }
                    <li>
                        <div class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("CreateNewHaircutType","Prices")'">Create New</button>
                        <button type="button" onclick="location.href='@Url.Action("Prices","Home")'">Back To Prices</button>
                        </div>
                    </li>
                </ul>
        </div>
    </div>
}
else
{
    Response.Redirect("~/Home/Prices");
}