@model mobileHairdresser.Database.tblGallery

@{
    ViewBag.Title = "editGalleryName";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h1>Edit Gallery Details @Model.GalleryName</h1>
        @using (Html.BeginForm("SaveGallery", "Portfolio", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.GalleryID)
            <ul>
                <li>
                    @Html.ValidationSummary()
                </li>
                <li>
                    @Html.LabelFor(model => model.GalleryName, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.GalleryName, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                    @Html.LabelFor(model => model.GalleryDiscription, htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.GalleryDiscription, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("PhotoGallery","Portfolio", new { GalleryID = Model.GalleryID })'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>
