@model mobileHairdresser.Database.tblLogin
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Change Password</h2>
        <div class="accessWarning">
            <h1>WARNING</h1>
            <p>This will change your login password!</p>
            <p>Your Password must be long then 6 characters.</p>
            <p>@ViewBag.errorMsg</p>
        </div>
        @using (Html.BeginForm("changePassword", "login", FormMethod.Post))
        {
            @Html.ValidationMessageFor(model => model.Password)
                @Html.HiddenFor(model => model.loginID)
                @Html.PasswordFor(model => model.Password, new { @class="newPassword", @value = "", @placeholder = "Enter old password." })
                @Html.Password("newPassword", null, new { @class = "newPassword", @value = "", @placeholder = "Enter new password." })
                @Html.Password("confirmPassword", null, new { @class = "newPassword", @value = "", @placeholder = "Confirm new password." })
                <button type="submit">Change Password</button>
        }
    </div>
</div>




