@model IEnumerable<mobileHairdresser.Database.tblEmployee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <table class="AccountList">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.ActionLink("View", "ViewAdminAccountDetails", new { id = item.employeeID })
                        @Html.ActionLink("Edit", "EditAdminAccount", new { id = item.employeeID })
                        @if (Session["loginID"].ToString() != item.LoginID.ToString())
                        {
                            @Html.ActionLink("Delete", "DeleteAdminAccount", new { id = item.employeeID })
                        }
                        else
                        {
                            <span> Delete </span>
                        }

                    </td>
                </tr>
            }

        </table>
        <button type="button" onclick="location.href='@Url.Action("createNewAdminAccount","admin")'" class="adminButton">Add New Admin Account</button>
    </div>
</div>

