@model mobileHairdresser.Database.tblEmployee

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Create New Admin Account</h2>
     @using (Html.BeginForm())
     {
         @Html.AntiForgeryToken()
     <ul class="AddAccount">
         <li>
             @Html.ValidationSummary()
         </li>
         <li>
             @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
             @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class="form-control" } })
         </li>
         <li>
             @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })   
             @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
         </li>
         <li>
             @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
             @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
         </li>
         <li>
             @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
             @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
         </li>
         <li>
             @Html.LabelFor(model => model.tblLogin.Username, htmlAttributes: new { @class = "" })
             @Html.EditorFor(model => model.tblLogin.Username, new { htmlAttributes = new { @class = "form-control" } })
         </li>
         <li>
             <p>The password must longer than 6 characters!</p>
         </li>
         <li>
             @Html.LabelFor(model => model.tblLogin.Password, htmlAttributes: new { @class = "" })
             @Html.PasswordFor(model => model.tblLogin.Password, new { htmlAttributes = new { @class = "form-control" } })
         </li>
         <li><p class="formButtons">
                 <button type="button" onclick="location.href='@Url.Action("adminAccountList","admin")'">Cancel</button>
                <button type="submit">Create Account</button>
             </p>
         </li>
     </ul>
     }
 </div>
</div>

