@model mobileHairdresser.Database.tblEmployee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <h1>Edit Account</h1>
    <div class="ContentWrapper">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { })
            @Html.HiddenFor(model => model.employeeID)

            <ul>
                <li>
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "" })
                </li>
                <li>
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "" })
                </li>
                <li>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "" })
                </li>
                <li>
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "" })
                </li>
                <li>
                        @Html.HiddenFor(model => model.LoginID, new { htmlAttributes = new { @class = "" } })
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("adminAccountList","admin")'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>

