@model mobileHairdresser.Database.tblEmployee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Edit Account</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.employeeID)

            <ul class="EditAccount">
                <li>
                    @Html.ValidationSummary()
                </li>
                <li>
                        @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "" } })
                </li>
                <li>
                        @Html.HiddenFor(model => model.LoginID, new { htmlAttributes = new { @class = "" } })
                    <p class="formButtons">
                        <button type="button" onclick="location.href='@Url.Action("adminAccountList","admin")'">Cancel</button>
                        <button type="submit">Save Changes</button>
                    </p>
                </li>
            </ul>
        }
    </div>
</div>

