@model IEnumerable<mobileHairdresser.Database.tblEmail>

@{
    ViewBag.Title = "customerEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string unreadEmail = "";
}
<div class="ContentContianer">
    <div class="ContentWrapper">
        <h2>Customer Emails</h2>
        <ul class="emailtable">
            <li class="emailHeadding">
                <span class="subject">
                    <h2>You have @Model.Count() emails and @Model.Where(unread => unread.Read == "false").Count() unread</h2>
                </span>
            </li>
            <li>
                <ul>
                    @foreach (var item in Model)
                        {
                            if (item.Read == "false")
                            {
                                unreadEmail = "isUnread";
                            }
                            else
                            {
                                unreadEmail = "";
                            }
                            <li class="@unreadEmail emailSelection" onclick="location.href='@Url.Action("ViewEmail", "Email", new { EmailID = item.EmailID })'">
                                <span class="subject">
                                    @Html.LabelFor(modelItem => item.DateSent): @Html.DisplayFor(modelItem => item.DateSent) <br />
                                    @Html.DisplayFor(modelItem => item.Subject)
                                </span>

                            </li>
                         }
                 </ul>
             </li>
        </ul>
    </div>
</div>
