@model IEnumerable<mobileHairdresser.Database.tblEmail>

@{
    ViewBag.Title = "customerEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string unreadEmail = "";
}
<div class="ContentContianer">
    <h1>Customer Emails</h1>
    <div class="ContentWrapper">
        <table class="table">
            <tr class="tableHeadding">
                <th>
                    @Html.DisplayNameFor(model => model.CustName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateSent)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Subject)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                if (item.Read == "false")
                {
                    unreadEmail = "isUnread";
                }
                else
                {
                    unreadEmail = "";
                }
                <tr class="@unreadEmail emailSelection" onclick="location.href='@Url.Action("ViewEmail", "Email", new { EmailID = item.EmailID })'">
                    <td>
                        @Html.DisplayFor(modelItem => item.CustName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateSent)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    
                </tr>
            }

        </table>
    </div>
</div>
